.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

task-list {
  width: 100%;
  display: flex;
}

.list {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;
}

task-elem {
  width: 100%;
  height: 50px;

  display: flex;
}

.task {
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--akcentColor);
}

.task-label {
  margin-right: auto;
  padding-left: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-checkbox:checked + .task-marker {
  --check-icon-color: var(--akcentColor);
}

.task-marker {
  width: 20px;
  height: 20px;

  border: 1px solid var(--akcentColor);
}

.task-value {
  margin-left: 10px;
}

.snap {
  margin: 0;
  margin-right: 10px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
  }
}
