a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 26px;
  color: var(--akcentColor);
  background-color: #ffffff;
}

:not(:defined) {
  display: none;
}

:defined {
  box-sizing: inherit;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background: var(--redThemeColor);

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;

  &:not(.btn--disabled):hover {
    background: var(--redThemeHover);
  }
  &:active {
    background: var(--redThemeActive);
  }
  &:disabled,
  &--disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}

.link-btn {
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  color: var(--akcentColor);
  background: transparent;

  border: none;
  cursor: pointer;

  &:hover {
    color: var(--redThemeHover);
  }
  &:active {
    color: var(--redThemeActive);
  }
  &:disabled {
    color: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

.content {
  width: 500px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
