:host {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 32px;

  display: flex;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.task-creator__svg {
  width: 50px;
  height: 50px;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 30px;

  font: 'Roboto';

  border: none;

  &:focus {
    outline: none;
  }
}

.svg-snap {
  width: 18px;
  height: 18px;
}

.add-snap {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    --add-icon-color: var(--akcentColor);
  }
}
